@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find the best electricians, plumbers, maids nearby</p>
</div>

<div class="jumbotron">
    <h1>Welcome to SyncSyntax Contacts!</h1>
    <p class="lead">Your